<%- include('partials/header') %>

<%- include('partials/navbar') %>

<div id="newProduct">
  <div class="container">
    <div class="addProduct px-5 my-5 text-center">
      <h5>Please Upload Your Excel File</h5>
      <form action="/products/excel" enctype="multipart/form-data" method="post">
        <div class="input-group">
          <input type="file" name="someExpressFiles" class="form-control" multiple="multiple" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          <input class="btn btn-outline-secondary" type="submit" value="Upload" />
        </div>

      </form>
    </div>
    <div class="tempTable my-5">
      <form class="table-responsive" action="/products/save" method="post">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Product</th>
              <th scope="col">Brand</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Amount</th>
              <th scope="col">Total Price</th>
              <th scope="col">Store</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            <% draftProducts.forEach((item,idx) => { %>
              <tr>
                <th scope="row"><%= idx + 1 %></th>
                <td><input class="tableItem" type="text" name="date" value="<%= new Date(item.date).toISOString().split('T')[0] %>"></td>
                <td><input class="tableItem" type="text" name="product" value="<%= item.product %>"></td>
                <td><input class="tableItem" type="text" name="brand" value="<%= item.brand %>"></td>
                <td><input class="tableItem" type="text" name="unitPrice" value="<%= item.unitPrice %>"></td>
                <td><input class="tableItem" type="text" name="amount" value="<%= item.amount %>"></td>
                <td><input class="tableItem" type="text" name="totalPrice" value="<%= item.totalPrice %>"></td>
                <td><input class="tableItem" type="text" name="store" value="<%= item.store %>"></td>
                <td><input class="tableItem" type="text" name="address" value="<%= item.address %>"></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <button class="btn btn-secondary w-100 my-5" type="submit" name="saveDraft">Save to Database</button>
      </form>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
